.homePage {
    padding: 0 4rem;
    height: calc(100vh - 6.5rem);
    overflow-y: scroll;

    h2 {
        margin-top: 3rem;
        margin-bottom: 1.5rem;
    }

}

.latestEpisodes {
    ul {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    
        li {
            background: var(--white);
            border: 1px solid var(--gray-100);
            padding: 1.25rem;
            border-radius: 1.5rem;
            position: relative;

            display: flex;
            align-items: center;

            &.isListItemActive {
                
                a {
                    color: var(--green-500);
                }
                button {
                    background: var(--white);
                    
                }
            }
        }

        img {
            width: 6rem;
            height: 6rem;
            border-radius: 1rem;
        }

        .episodeDetails {
            flex:1;
            margin-left: 1rem;

            a {
                display: block;
                color: var(--gray-800);
                font-family: Lexend, sans-serif;
                font-weight: 600;
                text-decoration: none;
                line-height: 1.4rem;

                &.hover {
                    text-decoration: underline;
                }
            }

            p {
                font-size: 0.875rem;
                margin-top: 0.5rem;
                max-width: 70%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            span {
                display: inline-block;
                margin-top: 0.5rem;
                font-size: 0.875rem;
                
                &:last-child {
                    margin-left: 0.5rem;
                    padding-left: 0.5rem;
                    position: relative;

                    &::before {
                        content: '';
                        width: 4px;
                        height: 4px;
                        border-radius: 2px;
                        background: #DDD;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }

            
        }
        button {
            position: absolute;
            right: 2rem;
            bottom: 2rem;
            
            width: 2.5rem;
            height: 2.5rem;
            background: var(--white);
            border: 1px solid var(--gray-100);
            border-radius: 0.675rem;
            font-size: 0;

            transition: filter 0.2s;

            img {
                width: 1.5rem;
                height: 1.5rem;
            }

            &:hover {
                filter: brightness(0.95);
            }
        }
    }
}

.allEpisodes {
    padding-bottom: 2rem;

    table {
        width: 100%;

        th, td {
            // padding: 0.75rem 1 rem;
            border-bottom: 1px solid var(--green-100);

        }

        th {
            color: var(--gray-200);
            text-transform: uppercase;
            font: 500 0.75rem Lexend, sans-serif;
            text-align: left;
        }

        tbody {
            td {
                &.isListItemActive {
                    a {
                        color: var(--green-500);

                    }
                    button {
                        background: var(--white);
                        
                    }
                }
            }

            tr {
                height: 10rem;
            }
        }

        td {
            font-size: 0.875rem;

            img {
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 0.5rem;
            }

            a {
                color: var(--gray-800);
                font-family: Lexend, sans-serif;
                font-weight: 600;
                text-decoration: none;
                line-height: 1.4rem;

                font-size: 1rem;

                &:hover {
                    text-decoration: underline;
                }
            }

            button {
                right: 2rem;
                bottom: 2rem;
                
                width: 2.5rem;
                height: 2.5rem;
                background: var(--white);
                border: 1px solid var(--gray-100);
                border-radius: 0.675rem;
                font-size: 0;

                transition: filter 0.2s;

                img {
                    width: 1.5rem;
                    height: 1.5rem;
                }

                &:hover {
                    filter: brightness(0.95);
                }
            }
        }
    }
}

@media(max-width: 800px) {
    .responsiveTable {
    //    display: none;
    
        thead {
            display: none;
            
        }

        tr {
            background: var(--white);
            border: 1px solid var(--gray-100);
            padding: 1.25rem;
            border-radius: 1.5rem;
            position: relative;

            display: block;
            align-items: center;
            margin-top: 10px;
            flex-direction: row;


            &:last-child {
                margin-bottom: 200px;
            }

            td {
                &:first-child {
                    display: none;
                }

                &:last-child {
                    position: relative;
                }
                
            }

            // .linkResponsive {
            //     padding: 2rem;
            //     position: absolute;
            //     top: 0;
            // }

            // .membersResponsive {
            //     position: absolute;
            //     bottom: 0;
            //     left: 0;
            // }

            // button {
            //     position: absolute;
            //     top: 50%;
            //     right: 0;
            // }
        }
    }
}

@media (max-width: 700px) {
    .latestEpisodes {
        ul {
            display: block;
            
            li {
                width: 100%;
                margin-top: 10px;
            }
        }
    }
}
